/* General Styles */

html {
  background-color: black;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  background-color: black;
  margin: 0;
}

/* Header */

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

a:link {
  color: seashell;
}

a:visited {
  color:seashell;
}

header nav {
  padding-right: 20px;
}

nav span {
  padding: 10px;
}

/* Main Content Container*/

.main {
  width: 1200px;
  padding-top: 69px;
  opacity: 0.9;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: centre;
}

/* Mission */

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/* Tea Store */

#tea-store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.product {
  padding: 5px;
}

.product img {
  height: 200px;
  margin: 10px;
}

.product span {
  display: block;
  font-weight: bold;
}

/* Locations */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  width: 1100px;
  margin: auto;
}

.location {
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  padding: 10px;
  margin: 5px 20px;
}

/* Contact */

 #contact {
  height: 200px;
}

/* Footer */

footer {
  text-align: left;
  padding-left: 20px;
}
